.centered-text {
  .v-input__control {
    .v-input__slot {
      .v-text-field__slot {
        input {
          text-align: center;
        }
      }
    }
  }
}

.v-text-field__details {
  min-height: auto;

  .v-messages {
    min-height: auto;
  }
}

.custom-prepend {
  &.v-input {
    .v-input__prepend-outer {
      margin-right: 4px;
    }
  }
}

.theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
  color: rgba(0,0,0,.8);
}

.theme--light.v-select.v-input--is-disabled .v-select__selections, .theme--light.v-select .v-select__selection--disabled {
  color: rgba(0,0,0,.8);
}

.theme--light.v-radio--is-disabled label {
  color: rgba(0,0,0,.8);
}
