.v-data-table {
  .v-data-table__wrapper {
    table {
      thead {
        tr {
          th {
            font-size: 1.125rem !important;
          }
        }
      }

      tbody {
        tr {
          td {
            font-size: 1rem !important;
          }
        }
      }
    }
  }

  &.v-data-table--mobile {
    .v-data-footer {
      justify-content: flex-end;
      .v-data-footer__select {
        margin-left: 4px;

        .v-select {
          margin-left: 12px;
        }
      }

      .v-data-footer__pagination {
        margin: 0 12px 0 0;
      }
    }
  }
}

.custom-border-table.theme--light.v-data-table {
  border-radius: 0;
  .v-data-table__wrapper {
    table {
      thead {
        tr {
          th {
            border: thin solid rgba(0, 0, 0, 1);
          }
        }
      }

      tbody {
        tr {
          td {
            border: thin solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }

  .v-data-table__wrapper {
    table {
      tbody {
        tr:not(:last-child) {
          td:not(.v-data-table__mobile-row) {
            border-bottom: thin solid black;
          }
        }
      }
    }
  }
}

.table-no-stripe {
  &.theme--light.v-data-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0);
  }
}
