<template>
  <v-container tag="section" class="pb-10 pt-8 lg:px-10 lg:pt-10">
    <v-card class="h-full pb-10 lg:px-10 lg:pb-10">
      <v-tabs slider-color="#FBB040" v-model="tabs" fixed-tabs>
        <v-tab href="#tab-1">
          <v-icon right dark class="mr-2"> mdi-format-list-bulleted </v-icon>
          <span>Danh sách</span>
        </v-tab>
        <v-tab href="#tab-2">
          <v-icon right dark class="mr-2"> mdi-account-multiple-plus </v-icon>
          <span>Tạo tài khoản</span>
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tabs" class="mt-10 px-4">
        <v-tab-item value="tab-1">
          <v-card flat>
            <v-row>
              <v-col cols="12" sm="auto" class="flex-grow">
                <v-text-field
                  v-model="searchString"
                  placeholder="Nội dung cần tìm"
                  outlined
                  rounded
                  color="#FBB040"
                  @input="onDebounceSearch"
                  @change="onSearch"
                  prepend-inner-icon="mdi-magnify"
                  clearable
                />
              </v-col>
            </v-row>

            <v-row no-gutters class="my-4" justify="center" align="center">
              <v-col cols="12" lg="9" md="7" sm="8" :class="classStyle">
                <span class="text-lg font-medium">Tổng số: {{ totalItems }}</span>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>

            <v-skeleton-loader
              :loading="isLoading"
              transition="scale-transition"
              :boilerplate="false"
              type="table"
              class="mx-auto"
            >
              <v-data-table
                item-key="id"
                :headers="headers"
                :items="list"
                :server-items-length="totalItems"
                :options.sync="options"
                no-data-text="Không có dữ liệu"
                no-results-text="Không có dữ liệu phù hợp"
                :footer-props="{
                  itemsPerPageText: 'Dòng mỗi trang:',
                  pageText: '{0}-{1} trên {2}',
                  itemsPerPageAllText: 'Tất cả',
                }"
                class="elevation-1"
                @update:page="updatePagination"
                @update:items-per-page="updatePagination"
              >
                <template v-slot:[`item.CreatedAt`]="{ item }">
                  <p class="py-4">{{ formatTime(item.CreatedAt) }}</p>
                </template>
                <template v-slot:[`item.UpdatedAt`]="{ item }">
                  <span>{{ formatTime(item.UpdatedAt) }}</span>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon class="mr-2" @click="deactiveAccount(item)"> mdi-account-lock </v-icon>
                  <v-icon @click="resetPassword(item)"> mdi-lock-reset </v-icon>
                </template>
                <template #footer.prepend>
                  <div class="flex-grow flex items-end justify-end mr-4">
                    <span>
                      <v-menu :max-height="400" :close-on-content-click="false">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon v-bind="attrs" v-on="on">mdi-cog-outline</v-icon>
                        </template>
                        <v-list>
                          <v-list-item v-for="(item, index) in headers" :key="index">
                            <v-checkbox v-model="item.model" :label="item.text" />
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </span>
                  </div>
                </template>
              </v-data-table>
            </v-skeleton-loader>
          </v-card>
        </v-tab-item>
        <v-tab-item value="tab-2">
          <CreateAccount @created-account="onCreateAccount" />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script>
import { EMPTY } from "~/utils/constants";
import DatePicker from "~/components/DatePicker.vue";
import CreateAccount from "~/components/CreateAccount.vue";
import { formatTime, debounce } from "~/utils";

export default {
  name: "AccountManagement",
  components: {
    DatePicker,
    CreateAccount,
  },
  data() {
    return {
      headers: [
        { text: "Phone", value: "Phone", sortable: false, model: true },
        { text: "Tên", value: "Name", sortable: false, model: true },
        { text: "Trạng thái", value: "IsActive", sortable: false, model: true },
        { text: "Cập nhật", value: "UpdatedAt", sortable: false, model: true },
        { text: "Tạo lúc", value: "CreatedAt", sortable: false, model: true },
        { text: "Actions", value: "actions", sortable: false },
      ],
      options: { page: 1, itemsPerPage: 10 },
      list: [],
      searchString: EMPTY,
      totalItems: 0,
      isLoading: false,
      doctorId: null,
      fromDate: EMPTY,
      toDate: EMPTY,
      searchCondition: 1,
      sortConditionList: [],
      conditionSearchList: [],
      menu: false,
      tabs: null,
      onDebounceSearch: debounce(this.onSearch, 300),
    };
  },
  async created() {
    try {
      // get data
      this.isLoading = true;
      this.handleQueryParams();
      await this.getData();
    } catch (err) {
      throw err;
    } finally {
      this.isLoading = false;
    }
  },
  computed: {
    classStyle() {
      return window.innerWidth <= 640 ? "pb-2" : "";
    },
  },
  watch: {
    "$route.query": {
      async handler() {
        if (!Object.keys(this.$route.query).length) {
          this.options = { page: 1, itemsPerPage: 10 };
        }
        await this.getData();
      },
      deep: true,
    },
  },
  methods: {
    formatTime,
    deactiveAccount(item) {
      this.$modal.show({
        title: "Bạn muốn khóa tài khoản này ?",
        visible: true,
        callbackConfirm: async () => {
          await this.$services.commonService.lockAccount({
            UserIds: [item.ID]
          })
          this.getData();
        },
      });
    },
    resetPassword(item) {
      this.$modal.show({
        title: "Bạn muốn đặt lại mật khẩu cho tài khoản này ?",
        visible: true,
        callbackConfirm: async () => {
          await this.$services.commonService.resetPassword({
            UserId: item.ID
          })
        },
      });
    },
    onCreateAccount() {
      this.tabs = "tab-1";
      this.getData();
    },
    async handleQueryParams() {
      this.searchString = this.$route.query?.searchString || this.searchString;
      this.options.page = Number(this.$route.query?.page) || 1;
      this.options.itemsPerPage = Number(this.$route.query?.perPage) || 10;
    },
    onSearch() {
      this.options.page = 1;
      this.updateQueryParams();
    },
    async updateQueryParams() {
      const object = {};
      if (this.options.page) {
        object.page = this.options.page;
      }
      if (this.options.itemsPerPage) {
        object.size = this.options.itemsPerPage;
      }
      if (this.searchString) {
        object.searchString = this.searchString;
      }
      try {
        await this.$router.replace({ query: { ...object } });
      } catch {}
    },
    async getData() {
      this.isLoading = true;
      try {
        const { items, total } = await this.$services.commonService.getUsers({
          ...this.$route.query,
        });
        this.totalItems = total;
        this.list = items;
      } catch (err) {
        this.list = [];
        this.totalItems = 0;
      } finally {
        this.isLoading = false;
      }
    },
    async updatePagination() {
      await this.$router.replace({
        query: {
          ...this.$route.query,
          page: this.options.page,
          size: this.options.itemsPerPage,
        },
      });
    },
    onClickDefault() {
      this.menu = false;
      (this.doctorId = null),
        (this.fromDate = EMPTY),
        (this.toDate = EMPTY),
        (this.searchCondition = 1),
        this.onSearch();
    },
  },
};
</script>
