<template>
  <v-container tag="section" class="lg:px-10 pt-0 lg:pt-10">
    <router-link to="/">
      <v-icon class="mt-6 mb-2" large>mdi-chevron-left</v-icon>
    </router-link>
    <v-form v-model="valid" ref="form" lazy-validation>
      <v-text-field
        v-model="oldPassword"
        type="number"
        label="Nhập mật khẩu*"
        rounded
        outlined
        clearable
        hide-spin-buttons
        :rules="[rules.required]"
      />
      <v-text-field
        v-model="newPassword"
        type="number"
        label="Nhập lại mật khẩu*"
        rounded
        outlined
        clearable
        hide-spin-buttons
        :rules="[rules.required]"
      />
      <v-btn color="primary" rounded x-large @click="submit" block>
        <v-icon right dark class="mr-2"> mdi-plus-box </v-icon>
        Đổi mật khẩu
      </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { required } from "~/utils/validation";

export default {
  name: "ChangePasswordViews",
  data() {
    return {
      valid: true,
      rules: {
        required,
      },
      oldPassword: "",
      newPassword: "",
    };
  },
  // Your Vue component logic goes here
  methods: {
    async submit() {
      if (this.$refs.form.validate()) {
        await this.$services.commonSerivce.changePassword({
          OldPassword: this.oldPassword,
          NewPassword: this.newPassword,
        });
      }
    },
  },
};
</script>

<style scoped>
/* Your component-specific styles go here */
</style>
