<template>
  <!-- Your HTML code goes here -->
  <v-form :disabled="loading" v-model="valid" ref="form" lazy-validation>
    <v-text-field
      v-model="phone"
      type="number"
      label="Số điện thoại"
      outlined
      rounded
      clearable
      
      hide-spin-buttons
      :rules="[rules.required]"
    />
    <v-text-field
      v-model="password"
      label="Mật khẩu"
      type="password"
      outlined
      rounded
      clearable
      hide-spin-buttons
      :rules="[rules.required]"
    />
    <v-text-field
      v-model="name"
      label="Họ và tên"
      outlined
      rounded
      clearable
      hide-spin-buttons
      :rules="[rules.required]"
    />
    <v-select
      v-model="shopID"
      :items="shops"
      item-text="ShopName"
      item-value="ID"
      no-data-text="Không có dữ liệu"
      outlined
      rounded
      label="Chọn cửa hàng"
      :rules="[rules.required]"
    />
    <v-btn :loading="loading" color="success" rounded x-large @click="submit" block>
      <v-icon right dark class="mr-2"> mdi-plus-box </v-icon>
      Tạo tài khoản
    </v-btn>
  </v-form>
</template>

<script>
import { required } from "~/utils/validation";

export default {
  name: "CreateAccount",
  data() {
    return {
      valid: true,
      phone: "",
      password: "",
      name: "",
      shopID: null,
      shops: [],
      loading: false,
      rules: {
        required,
      },
    };
  },
  async created() {
    try {
      const response = await this.$services.commonService.getShops();
      this.shops = response.items;
    } catch (err) {
      throw err;
    }
  },
  methods: {
    async submit() {
      this.$refs.form.validate();
      if (this.valid) {
        const payload = {
          Phone: this.phone,
          Name: this.name,
          Password: this.password,
          ShopId: this.shopID,
        };
        await this.$services.commonService.createAccount(payload);
        this.$toasted.success("Tạo tài khoản thành công").goAway(2000);
        this.$refs.form.reset();
        // this.resetDefaultValue()
        this.$emit("created-account")
      }
    },
    resetDefaultValue() {
      this.phone = "";
      this.password = "";
      this.name = "";
      this.shopID = null;
    }
  },
};
</script>

<style scoped>
/* Your component-specific styles go here */
</style>
