<template>
  <div class="h-full w-full">
    <v-row align="center" justify="center" v-show="isLoadingCircular">
      <v-progress-circular
        :width="3"
        :size="40"
        color="orange"
        class="pt-15"
        indeterminate
      ></v-progress-circular>
    </v-row>
    <v-overlay v-model="isLoadingCircular"></v-overlay>
    <!--Logo.vue - logos-->
    <img
      src="../assets/logo/map-pointer.jpg"
      class="h-30 lg:h-36  mx-auto"
      alt="logo"
    />
    <h1
      class="text-5xl text-center font-bold text-black mb-11 normal-case brand"
    >
      BẢO ĐẠI ĐƯỜNG
    </h1>
    <!--VForm - Vuetify-->
    <v-form ref="form" @submit.prevent="submit" v-model="valid" lazy-validation>
      <div class="text-left">
        <v-text-field
          rounded
          v-model="value.name"
          placeholder="Tên"
          :rules="[rules.required]"
          outlined
        />
      </div>
      <div class="text-left">
        <v-text-field
          rounded
          @keypress="filter(evt)"
          v-model="value.phone"
          placeholder="Số điện thoại"
          :rules="[rules.required]"
          outlined
        />
      </div>
      <div class="text-left">
        <!--VTextField - Vuetify-->
        <v-text-field
          v-model="value.password"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          outlined
          rounded
          placeholder="Mật khẩu"
          :rules="[rules.required]"
          :type="showPass ? 'text' : 'password'"
          @click:append="showPass = !showPass"
        />
      </div>
      <p
        v-for="message in messages"
        :key="message.msg"
        class="w-full text-left text-lg text-danger mb-6"
      >
        {{ message.msg }}
      </p>
      <div class="text-center">
        <v-btn rounded type="" class="w-full" color="primary" x-large>
          Đăng Ký
        </v-btn>
      </div>
    </v-form>
    <hr class="my-7">
    <div class="text-center">
      <v-btn rounded type="" v-on:click="routerPageLogin" class="w-3/4" color="green" x-large>
        Đăng Nhập
      </v-btn>
    </div>
  </div>
</template>

<script>
import { AuthService } from "~/services/auth.service";
import { required } from "~/utils/validation";

export default {
  name: "RegisterForm",

  components: {
    logo: () => import("~/components/logos/map-pointer.jpg"),
  },

  data() {
    return {
      showPass: false,
      isErr: false,
      messages: [],
      value: {
        phone: "",
        password: "",
        name: "",
      },
      rules: {
        required,
      },
      valid: true,
      evt: null,
      isLoadingCircular: false,
    };
  },
  methods: {
    async submit() {
      await this.$refs.form.validate();
console.log("check out side try cathc", this.valid);
      if (this.valid) {
        try {
          this.isLoadingCircular = true;
          const response = await AuthService.register(this.value);
          console.log(1);
          this.$store.commit("setData", { roleId: response.data.roleId });
          localStorage.setItem("bdd-payment-role", response.data.roleId);
          this.error = "";
          await this.$router.push("/dang-nhap");
          console.log('check handle register success');
        } catch (error) {
          this.error =
            error.status === 404
              ? "User with same email not found"
              : error.message;
        } finally {
          this.isLoadingCircular = false;
        }
      }
    },
    routerPageLogin(){
        this.$router.push('/dang-nhap')
    },
    filter(evt) {
      evt = evt ? evt : window.event;
      let expect = evt.target.value.toString() + evt.key.toString();

      if (!/^[-+]?[0-9]*\.?[0-9]*$/.test(expect)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
  },
};
</script>

<style type="sass" scoped>
.brand {
  color: #fbb040;
  font-family: "Mabella" !important;
  font-size: 40px !important;
}
</style>
