<template>
  <div>
    <!-- VNavigationDrawer - Vuetify -->
    <v-skeleton-loader
      :loading="false"
      transition="scale-transition"
      :boilerplate="false"
      type="table"
      class="mx-auto"
    >
      <v-navigation-drawer
        v-model="isOpenDrawer"
        :permanent="!isMobile"
        class="text-left pt-3 border-none"
        :expand-on-hover="expandOnHover"
        mobile-breakpoint="960"
        color="#f9f9f9"
        app
        width="280"
        v-bind="$attrs"
      >
        <template>
          <router-link to="/" class="pl-2 flex items-center space-x-1 mb-1">
            <!-- <logo /> -->
            <img src="../assets/logo/logo.png" alt="logo" class="w-20 mb-5" />
            <p class="text-h7 font-weight-black orange--text mb-4 brand">BẢO ĐẠI ĐƯỜNG </p>
          </router-link>
        </template>
        <!-- VList - Vuetify -->
        <v-list expand nav>
          <!-- Item.vue - molecules component-->
          <v-fade-transition group>
            <item
              v-for="(item, i) in renderedItems"
              :key="`item-${i}`"
              :item="item"
              :active="currentStep === i"
              :currentStep="currentStep"
            />
          </v-fade-transition>
        </v-list>
        <template v-slot:append>
          <!-- Item.vue - molecules component-->
          <item
            v-if="role === 'Admin'"
            :item="{
              title: 'Cài đặt',
              icon: 'mdi-cog-outline',
              to: '/cai-dat',
            }"
          />
          <v-list-item
            v-if="!mini && !isMobile"
            class="h-12 cursor-pointer"
            @click.native="onClickExpand"
          >
            <!--VListItemIcon - Vuetify-->
            <v-list-item-icon>
              <v-icon>mdi-chevron-left</v-icon>
            </v-list-item-icon>
            <!--VListItemContent - Vuetify-->
            <v-list-item-content class="text-lg"> Thu nhỏ </v-list-item-content>
          </v-list-item>
          <span v-if="!mini && !isMobile" class="text-center text-xs text-grey mx-auto">
            <p class="mb-0">Copyright © 2023</p>
            <p>Bản quyền thuộc về Bảo Đại Đường</p>
          </span>
        </template>
      </v-navigation-drawer>
    </v-skeleton-loader>
  </div>
</template>

<script>
// Utilities
import { mapMutations, mapGetters, mapState } from "vuex";
import { EMPTY, STEP_BY_STEP, PATH } from "~/utils/constants";

export default {
  name: "Sidebar",

  components: {
    Item: () => import("~/components/SidebarItem"),
    ItemGroup: () => import("~/components/SidebarItemGroup"),
    logo: () => import("~/components/logos/Logo"),
  },

  props: {
    expandOnHover: {
      type: Boolean,
      default: false,
    },
    isOpenSidebar: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      role: EMPTY,
      isLoading: false,
      mini: false,
      items: [
        {
          icon: "mdi-account-details",
          title: "Home",
          to: "/",
          children: null,
          permissions: [1],
        },
        {
          icon: "mdi-account-details",
          title: "Quản lí tài khoản",
          to: "/quan-ly-tai-khoan",
          children: null,
          permissions: [1],
        },
        {
          icon: "mdi-bank",
          title: "Ngân hàng",
          to: "/doi-mat-khau-ngan-hang",
          children: null,
          permissions: [1],
        },
      ],
      isOpenDrawer: false,
    };
  },

  async created() {
    this.mini = false;
  },

  computed: {
    ...mapState({
      currentStep: (state) => state.stepByStep.current,
      roleId: (state) => state.roleId,
    }),
    profile() {
      return {
        avatar: true,
        title: "avatar",
      };
    },
    isMobile() {
      return window.innerWidth < 1024;
    },
    renderedItems() {
      return this.items.filter((item) => item.permissions.includes(this.roleId));
    },
  },

  watch: {
    isOpenSidebar(val) {
      this.isOpenDrawer = val;
    },
  },

  methods: {
    ...mapMutations("sidebar", {
      toggleSidebar: "TOGGLE_SIDEBAR",
    }),
    onClickExpand() {
      this.mini = !this.mini;
      this.toggleSidebar(!this.isOpen);
    },
  },
};
</script>

<style lang="sass" scoped>
@import '~vuetify/src/styles/tools/_rtl.sass'
.v-list-item
  font-size: 18px

.v-list-item--active
  color: black !important
  background-color: #c8c8c8 !important
  font-weight: bold

.v-list-item--link:before
  background-color: transparent !important

.brand
  font-family: 'Mabella' !important
  font-size: 30px !important
</style>
