<template>
  <svg
    width="220px"
    height="45px"
    viewBox="0 0 220 45"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <!-- Generator: Sketch 60 (88103) - https://sketch.com -->
    <title>bdsvinh.com.vn</title>
    <desc>bdsvinh.com.vn logo</desc>
    <g id="A4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Group" transform="translate(0.000000, 2.000000)">
        <g id="Group-2">
          <circle id="Oval" fill="#4CAF50" cx="20" cy="20" r="20" />
          <g
            id="home-heart-svgrepo-com"
            transform="translate(6.666667, 7.333333)"
            fill="#FFFFFF"
            fill-rule="nonzero"
          >
            <path
              id="Path"
              d="M13.3018064,11.1996838 L13,11.4620274 L12.6968402,11.1996838 C11.5245806,10.1799561 9.63974925,10.1799561 8.46748971,11.1996838 C7.90256932,11.6785328 7.58333333,12.3394378 7.58333333,13.0301272 C7.58333333,13.7208165 7.90256932,14.3817216 8.46748971,14.8605706 L13,18.7826087 L17.5325103,14.8605706 C18.0974307,14.3817216 18.4166667,13.7208165 18.4166667,13.0301272 C18.4166667,12.3394378 18.0974307,11.6785328 17.5325103,11.1996838 C16.3597891,10.1798156 14.4745276,10.1798156 13.3018064,11.1996838 L13.3018064,11.1996838 Z"
            />
            <path
              id="Shape"
              d="M25.6193326,11.1517292 L13.9191169,0.351837855 C13.6754958,0.126580491 13.3448256,0 13,0 C12.6551744,0 12.3245042,0.126580491 12.0808831,0.351837855 L0.380667391,11.1517292 C0.00898024981,11.4949189 -0.102189987,12.0109645 0.0989808275,12.4593015 C0.300151642,12.9076386 0.774059975,13.200005 1.29978433,13.2001086 L2.5998083,13.2001086 L2.5998083,21.6000241 C2.5998083,22.9236108 3.76592979,24 5.19985622,24 L20.8001438,24 C22.2340702,24 23.4001917,22.9236108 23.4001917,21.6000241 L23.4001917,13.2001086 L24.7002157,13.2001086 C25.22594,13.200005 25.6998484,12.9076386 25.9010192,12.4593015 C26.10219,12.0109645 25.9910198,11.4949189 25.6193326,11.1517292 Z M20.8014438,21.6000241 L5.19985622,21.6000241 L5.19985622,10.0981398 L13,2.89821224 L20.8001438,10.0981398 L20.8001438,15.6000845 L20.8014438,21.6000241 Z"
            />
          </g>
        </g>
        <text
          id="bdsvinh.com.vn"
          fill="#333333"
          font-family="SanFranciscoBold, SanFrancisco"
          font-size="27"
          font-weight="bold"
          letter-spacing="-1.58823529"
        >
          <tspan x="43" y="30">bdsvinh.com.vn</tspan>
        </text>
      </g>
    </g>
  </svg>
</template>
